body {
    background-image: url(fundo.jpeg);
    background-size: cover;
    background-position: center;
    font-family: arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center; /* Alinha horizontalmente o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
    height: 80vh; /* Define a altura da área de visualização da janela do navegador */
    margin: 100px; /* Remove margens padrão */
    padding: 10px;
    
}

.container {
    max-width: auto; /* Define a largura máxima do contêiner */
    margin: auto; /* Centraliza o contêiner horizontalmente */
    text-align: left; /* Alinha o texto centralmente */
}

img {
    width: 400px; /* Define a largura da imagem de perfil */
    max-width: 400px; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Cria uma borda arredondada na imagem de perfil */
    margin-bottom: 20px; /* Adiciona espaço inferior entre a imagem e o texto */
    
}

h1 {
    color: #ffffff; /* Cor do título principal */
    
}

p {
    color: #ffffff; /* Cor dos subtítulos */
}

ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o espaçamento interno da lista */
}

li {
    margin-bottom: 10px; /* Adiciona espaço inferior entre os itens da lista */
}
